<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Portfolio Tomás Fonseca</title>
</head>
<body>
    <header>
        <div>Tomás Fonseca</div>
        <nav>
            <a href="{% url 'portfolio:home' %}">Home</a>
            <a href="{% url 'portfolio:licenciatura' %}">Sobre Mim</a>
            <a href="{% url 'portfolio:projetos' %}">Projetos</a>
            <a href="{% url 'portfolio:web' %}">Web</a>
            <a href="{% url 'portfolio:blog' %}">Blog</a>
            <a href="{% url 'portfolio:contact' %}">Contacto</a>
        </nav>
    </header>
    <main>
        {% block main %}
	    {% endblock main %}
    </main>
    <footer>
        <div>ULHT, 2022</div>
    </footer>
</body>
</html>