{% extends 'portfolio/layout.html' %}

{% block main %}
    <div class="title1">
        <h1>Licenciatura</h1>
    </div>
	
    <div class="container-cadeira">
        {% for cadeira in cadeiras %}
        <div>
            <h2 class="cadeira">{{cadeira.nome}}</h2>
            {% for prof in cadeira.professor.all %}
            <h3 class="name_prof">{{prof.nome}}</h3>
            {% load static %}
            <button class="linked_prof"><a href="{{prof.linkedin}}"><img src="{% static 'portfolio/images/lusofonaiconlinkedin.png' %}" alt=""></a></button>
            {% load static %}
            <button class="lusofona_prof"><a href="{{prof.link_prof}}"><img src="{% static 'portfolio/images/lusofonaiconprof.png' %}" alt=""></a></button>
            {% endfor %}
            <h4>{{cadeira.ects}} ECTS - Rank : {{cadeira.rank}}/5</h4>
            <p>{{cadeira.descricao}}</p>
            {% load static %}
            <button class="lusofona_cadeira"><a href="{{cadeira.link}}"><img src="{% static 'portfolio/images/lusofonaiconcadeira.png' %}" alt=""></a></button>
            <h5>{{cadeira.ano}} º Ano | {{cadeira.semestre}} º Semestre</h5>
        </div>
        {% endfor %}
    </div>

    <div class="title-education">
        <h1>Educação</h1>
    </div>
    <div class="side-bar-education"></div>
    <div class="container-education">
        <div>
            {% for escola in escolas %}
            <div class="circle-education"></div>
            <h1>{{escola.nome}}</h1>
            <p>{{escola.descricao}}</p>
            <p>{{escola.ano_inicio}} até {{escola.ano_fim}}</p>
            <img src="{{escola.imagem.url}}"   class="rounded mx-auto d-block">
            {% endfor %}
        </div>
    </div>
    
    

    <div class="title-certificados">
        <h1>Certificados</h1>
    </div>

    <div class="side-bar-certificados"></div>
    <div class="container-certificados">
        <div>
            {% for certificado in certificados %}
            <div class="circle-certificados"></div>
            <h1>{{certificado.titulo}}</h1>
            <p>{{certificado.descricao}}</p>
            <p>{{certifica.ano}}</p>
            <a href="{{certificado.link}}" download>Download</a>
            {% endfor %}
        </div>
    </div>
    

    <div class="title-aptidoes">
        <h1>Aptidões e competências pessoais</h1>
        <h2>Aptidoes Linguisticas</h2>
    </div>
            <!-- linguisticas -->
    <div class="container-aptidoes">
        
        {% for c in competencias %}
        {% if c.tipo == '1' %}
        <div>
            
                <h1>{{c.titulo}}</h1>
                <p>{{c.descricao}}</p>
            
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <div class="title-aptidoes">
        <h2>Aptidoes Técnicas</h2>
    </div>

            <!-- tecnicas -->
    <div class="container-aptidoes">
        {% for c in competencias %}
        {% if c.tipo == '2' %}
        <div>
            
                <h1>{{c.titulo}}</h1>
                <p>{{c.descricao}}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <div class="title-aptidoes">
        <h2>Aptidoes Informáticas</h2>
    </div>

            <!-- informaticas -->
    <div class="container-aptidoes">  
        {% for c in competencias %}
        {% if c.tipo == '2' %}
        <div>
                <h1>{{c.titulo}}</h1>
                <p>{{c.descricao}}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <div class="title-aptidoes">
        <h2>Aptidoes Organizativas</h2>
    </div>

             <!-- organizativas -->
    <div class="container-aptidoes">  
        {% for c in competencias %}
        {% if c.tipo == '3' %}
        <div>
                <h1>{{c.titulo}}</h1>
                <p>{{c.descricao}}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <div class="title-aptidoes">
        <h2>Aptidoes Sociais</h2>
    </div>

            <!-- sociais -->
    <div class="container-aptidoes">  
        {% for c in competencias %}
        {% if c.tipo == '4' %}
        <div>
                <h1>{{c.titulo}}</h1>
                <p>{{c.descricao}}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>


    <div class="title-hobbies">
        <h1>Interesses e hobbies</h1>
    </div>


    <div class="container-hobbies">
        {% for interesse in interesses %}
        <div>
            <h1>{{interesse.titulo}}</h1>
            <p>{{interesse.descricao}}</p>
            <img src="{{interesse.imagem.url}}"   class="rounded mx-auto d-block">
        </div>
        {% endfor %}   
    </div>
{% endblock %}