{% extends 'portfolio/layout.html' %}

{% block main %}
    <div class="title1">
        <div class="box1"></div>
        <h1>Licenciatura</h1>
        <div class="box2"></div>
    </div>
	
    <div class="container1">
        {% for cadeira in cadeiras %}
        <div>
            <h2 class="cadeira">{{cadeira.nome}}</h2>
            {% for prof in cadeira.professor.all %}
            <h3 class="name_prof">{{prof.nome}}</h3>
            {% load static %}
            <button class="linked_prof"><a href="{{prof.linkedin}}"><img src="{% static 'portfolio/images/lusofonaiconlinkedin.png' %}" alt=""></a></button>
            {% load static %}
            <button class="lusofona_prof"><a href="{{prof.link_prof}}"><img src="{% static 'portfolio/images/lusofonaiconprof.png' %}" alt=""></a></button>
            {% endfor %}
            <h4>{{cadeira.ects}} ECTS - Rank : {{cadeira.rank}}/5</h4>
            <p>{{cadeira.descricao}}</p>
            {% load static %}
            <button class="lusofona_cadeira"><a href="{{cadeira.link}}"><img src="{% static 'portfolio/images/lusofonaiconcadeira.png' %}" alt=""></a></button>
            <h5>{{cadeira.ano}} º Ano | {{cadeira.semestre}} º Semestre</h5>
        </div>
        {% endfor %}
    </div>

    <div class="title-education">
        <h1>Educação</h1>
    </div>


    
    <div class="text-education-one"> 
        <div class="side-bar"></div>
        <div class="circle-one"></div>
        <h1 class="text-t1">Escola Secundaria Manuel Cargaleiro</h1>
        <p>Ensino secundario - Nota Final : 13.3</p>
        {% load static %}
        <img src="{% static 'portfolio/images/esmc.png' %}">
    </div>
    

    <div class="title-certificados">
        <h1>Certificados</h1>
    </div>

    <div class="text-certificados-one">
        <div class="box-certificados"></div>
        <div class="circle-certificados"></div>
        <h1>Treinador de Desporto de Taekwondo - Grau I</h1>
        <p>Federacao Portuguesa de Taekwondo - Nota Final: 18</p>
        <a href="{% static 'portfolio/images/diploma-treinador.pdf'%}" download class="btn-download-dp">Download</a>
        {% load static %}
        <img src="{% static 'portfolio/images/fpt.png' %}">
    </div>

    
    
    <div class="title-aptidoes">
        <h1>Aptidões e competências pessoais</h1>
    </div>

    <div class="container-aptidoes-one">
        <div>
            <h1>Portugues - Nivel C1 🇵🇹</h1>
            <p>Lingua nativa</p>
        </div>

        <div>
            <h1>Ingles - Nivel C2 🇬🇧</h1>
            <p>Lingua alternativa</p>
        </div>
    </div>

    <div class="container-aptidoes-two">
        <div>
            <h1>Treinador de Taekwondo 🥋</h1>
            <p>Há cerca de 2 anos que tenho o cargo de treinador de taekwondo. Atualmente, dou aulas a uma turma de cerca de 10 criancas dos 4 aos 11 anos. Todo o processo de agilizacao dos educandos e encarregados de educacao fica em minha resposabilidade, bem como a seguraca e a eficiente aprendizagem dos meus alunos.</p>
        </div>

        <div>
            <h1>Trabalhos de Verao 🍽️</h1>
            <p>Todos os anos, excluindo o ano pandemico, trabalhei durante o verao na area da restauracao. Para alem de obter a minha liberdade financeira, deparei-me com problemas do mundo real, onde tinha que trabalhar em equipa para arranjar solucao para pessoas. Efetuei esta pratica no restaurante ClubHouse Aroeira, na Herdade da Aroeira, Almada.</p>
        </div>

    </div>


    <div class="title-hobbies">
        <h1>Interesses e hobbies</h1>
    </div>


    <div class="container-hobbies">
        <div>
            <h1>Taekwondo 🥋</h1>
            <p>Pratico taekwondo há cerca de 14 anos. Faz parte de mim, de quem eu sou e de quem me tornei. Começou tudo como uma brincadeira, e uma forma de acalmar a minha personalidade "elétrica" em crianca, mas acabou por se tornar uma maneira de viver.</p>
            <p>Hoje, para além de ser treinador como referido anteriormente, sou também atleta, Campeao Nacional Universitário, tendo pertencido à seleçao nacional na vertente de Poomsae, representado o pais internacionalmente.</p>
        </div>

        <div>
            <h1>Computadores 🖥️</h1>
            <p>Comecou tudo no final do meu 4º ano de escolaridade. Tinha acabado de receber um portaitl, que me abriu as portas para o mundo dos jogos no computador e tudo o que vinha com ele. Mais tarde, quando tinha os meus 14 anos, montei o meu primeiro computador "gaming", tendo aprendido tudo atraves de videos no youtube.</p>
            <p>Hoje posso dizer que trabalho para que essa paixao se torne o meu ganha pao. Ainda hoje essa chama esta acessa, e o gosto por programar so tem vindo a crescer nos ultimos 2 anos.</p>
        </div>
        
    </div>
{% endblock %}