@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&display=swap');

* {
    padding: 0px; 
    margin: 0px;
    box-sizing:border-box;
    font-family: 'Ubuntu', sans-serif;
}


  /* LAYOUT */
header {
    height: 10vh; 
    background: #0D5C63;
    color: white;
    top: 0;  
    display:flex;
    justify-content: space-between;  
    align-items: center;
}

header div {
    font-size: 2em;
    font-weight: bolder;  
    padding: 1em;
}
  
header nav {
    display:flex;
    justify-content: flex-end;  
}
  
  
nav a {
    margin-right: 20px;
    padding: 0 1em;
    text-decoration: none;
    font-size: 1.25em;
    color: white;
}

nav a:hover{
    color: #78CDD7;
}
  
  
main {
    height: 85vh;
    background-color:#FFFFFA;
}
  
footer {
    height:5vw;
    display:flex;
    justify-content: flex-end;
    padding: 0 2vw;
    align-items: center;
}

/* HOME */

.img-home{
    background: url("../images/image.png");
    height: 90vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
    background-size: cover;

    background-position: center;
    background-repeat: no-repeat;
}

.img-home h1{
    color: #0D5C63;
    font-size: 75px;
    margin-right: 100px;
}

.img-home p{
    color: grey;
    font-size: 50px;
    margin-right: 100px;
    
}

.separator-home-one{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.separator-home-one h2{
    color: #0D5C63;
    font-size: 75px;
    margin-right: 40px;
    
}

.middle-section-home{
    background: url('../images/lisbon.png');
    min-height: 80vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
}

.middle-section-home h2{
    color: white;
    font-size: 50px;
}

.middle-section-home i{
    color: white;
    font-size: 50px;
}

.home-info{
    margin-top: 30px;
    margin-left: 30px;
    display: flex;

}

.home-info img{
    border-radius: 20px;
}

.home-info div{
    margin-left: 40px;
    margin-right: 40px;
}

.home-info div h1{
    padding: 40px;
    color: #0D5C63;
    text-align: center;
    font-size: 30px;
}

.home-info div p{
    padding: 40px;
    color: grey;
    text-align: center;
    font-size: 20px;
}

.img-tkd-one{
    width: 300px;
    height: 449px;
    position: relative;
    top: 450px;
    right: 500px
}

.space-home-two{
    height: 10vh;
}

/* About me */
.title1 h1{
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: #0D5C63;
    z-index: 10;
    padding: 50px;
}



.container-cadeira{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.container-cadeira div{
    position: relative;
    width: 300px;
    height: 550px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px grey;
    border: 3px solid #0D5C63;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.linked_prof{
    position:absolute;
    top: 120px;
    right: 45px;
    border: none;
    background: none;
    width: 100px;
    height: 50px;
}


.lusofona_prof{
    position:absolute;
    top: 120px;
    left: 0px;
    border: none;
    background: none;
    width: 100px;
    height: 50px;
}

.container-cadeira div p{
    position: absolute;
    top: 180px;
}

.lusofona_cadeira{
    position: absolute;
    bottom: 10px;
    border: none;
    background: none;
}

.lusofona_cadeira a{
    width: 270px;
    height: 25px;
    text-decoration: none;
    color: grey;

}

.container-cadeira div div h4{
    position: absolute;
    top: 150px;
    left: 45px;
}

.title-education h1{
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: #0D5C63;
    padding: 100px;  
}

.container-education div{
    margin-left: 150px;
    margin-top: 150px;
}

.container-education div h1{
    color: #0D5C63;
}

.container-education p{
    color: grey;
}

.container-education a{
    color: grey;
}

.side-bar-education{
    background-color: #0D5C63;
    width: 3px;
    height: 700px;
    position: absolute;
    left: 100px;
}

.circle-education{
    background-color: #0D5C63;
    border-radius: 20px;
    width: 15px;
    height: 15px;
    position: relative;
    right: 206px;
    top: 20px;
}


.side-bar-certificados{
    background-color: #0D5C63;
    width: 3px;
    height: 650px;
    position: absolute;
    left: 100px;
}


.container-certificados div{
    margin-left: 150px;
    margin-top: 100px;
}

.container-certificados div h1{
    color: #0D5C63;
}

.circle-certificados{
    background-color: #0D5C63;
    border-radius: 20px;
    width: 15px;
    height: 15px;
    position: relative;
    right: 206px;
    top: 20px;
}


.title-certificados h1{
    position: relative;
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: #0D5C63;
    padding: 100px;
}

.box-certificados{
    width: 3px;
    height: 450px;
    background-color: #0D5C63;
    position: relative;
    left: 50px;
}


.title-aptidoes h1{
    position: relative;
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: #0D5C63;
    padding: 100px;
}

.title-aptidoes h2{
    color: #0D5C63;
    display: flex;
    justify-content: center;
}

.container-aptidoes-linguisticas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-aptidoes-linguisticas div{
    margin: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px grey;
    border: 3px solid #0D5C63;
    width: 350px;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.container-aptidoes-linguisticas h1{
    color: #0D5C63;
}

.container-aptidoes-linguisticas p{
    color: grey;
}





/* .container-aptidoes-two{
    display: flex;
    padding: 50px;
    justify-content: center;
}

.container-aptidoes-two div{
    margin: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px grey;
    border: 3px solid #0D5C63;
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.container-aptidoes-two h1{
    margin-left: 15px;
}

.container-aptidoes-two p{
    margin: 15px;
    font-size: 30px;
} */

.title-hobbies{
    position: relative;
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: #0D5C63;
    z-index: 10;
}

.container-hobbies{
    padding: 50px;
    display: flex;
}

.container-hobbies div{
    margin: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px grey;
    border: 3px solid #0D5C63;
    width: 800px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.container-hobbies h1{
    margin-left: 15px;
}

.container-hobbies p{
    margin: 15px;
    font-size: 30px;
}


















.container2{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.container2 div{
    float: left;
    width: 500px;
    height: 600px;
    padding: 40px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px grey;
}

.container2 h2{
    position: relative;
    top: -5%;
}

.desc{
    position: relative;
    top: -4%;
}

.container2 img{
    position: relative;
    left: 25%;
    width: 200px;
    height: 200px;
}

.container2 h5{
    display: flex;
    justify-content: center;
}

.container2 h3{
    position: relative;
    top: 10px;
}

.container2 h4{
    position: relative;
    top: 10px;
}

.pessoa1{
    position: relative;
    top: 10px;
}

.linkendin_pessoa1{
    position: relative;
    top: -10px;
    left: 80px;
    width: 250px;
    height: 50px;
    border: 2px solid #78CDD7;
    background-color: #FFFFFA;
    border-radius: 20px;

}

.linkendin_pessoa1:hover{
    background-color: #78CDD7;
    border: 2px solid #0D5C63;
    color: white;
    border-radius: 20px;
}

.github_proj{
    position: relative;
    top: 80px;
    left: -250px;
    height: 100px;
    width: 100px;
    border: 2px solid #78CDD7;
    background-color: #FFFFFA;
    border-radius: 20px;
}

.github_proj:hover{
    background-color: #78CDD7;
    border: 2px solid #0D5C63;
    color: white;
    border-radius: 20px;
}

.youtube_proj{
    position: relative;
    top: -20px;
    left: 300px;
    height: 100px;
    width: 100px;
    border: 2px solid #78CDD7;
    background-color: #FFFFFA;
    border-radius: 20px;
}

.youtube_proj:hover{
    background-color: #78CDD7;
    border: 2px solid #0D5C63;
    color: white;
    border-radius: 20px;
}



/* BLOG POSTS BLOG POSTS BLOG POSTS BLOG POSTS BLOG POSTS BLOG POSTS BLOG POSTS BLOG POSTS BLOG POSTS BLOG POSTS BLOG POSTS BLOG POSTS BLOG POSTS BLOG POSTS BLOG POSTS BLOG POSTS BLOG POSTS  */
.container_blog{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.container_blog h1{
    font-style: bolder;
    z-index: 10;
    font-size: 60px;
    font-family: 'Prompt';
    color: #0D5C63;
}

.container_blog p{
    font-style: italic;
    font-family: 'Robot Mono';
}

.btn-new-post{
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    position: absolute;
    top: 300px;
    left: 30px;
    width: 175px;
    height: 35px;
    border: 3px solid #0D5C63;
    border-radius: 20px;
    color: #78CDD7;
}

.btn-new-post:hover{
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    position: absolute;
    top: 300px;
    left: 30px;
    width: 175px;
    height: 35px;
    border: 3px solid #78CDD7;
    border-radius: 20px;
    color: white;
    background-color: #0D5C63;
}

.container_posts{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.container_posts div{
    position: relative;
    top: 100px;
    width: 100vmax;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px grey;
    border: 3px solid #0D5C63;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.container_posts div h3{
    font-size: 40px;
    position: absolute;
    top: 10px;
    left: 30px;
    
}

.container_posts div h5{
    font-size: 15px;
    position: absolute;
    top: 60px;
    left: 35px;
    color: grey;
}

.container_posts div h6{
    font-size: 15px;
    position: absolute;
    bottom: 10px;
    right: 30px;
    color: grey;
}

.container_posts div p{
    font-size: 15px;
    position: absolute;
    top: 90px;
    left: 40px;
}

.btn-edit-post{
    position: absolute;
    bottom: -2px;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    width: 175px;
    height: 35px;
    border: 3px solid #0D5C63;
    border-radius: 20px 20px 0 0;
    color: #78CDD7;
    z-index: 10;
}

.btn-edit-post:hover{
    position: absolute;
    bottom: -2px;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    width: 175px;
    height: 35px;
    border: 3px solid #78CDD7;
    background-color: #0D5C63;
    color: #FFFFFA;
    border-radius: 20px 20px 0 0;
    z-index: 10;
}

.edit-post-text{
    position: absolute;
    left: 45vw;
    font-family: 'Prompt';
    text-align: center;
    font-size: 30px;
    color: #0D5C63;
    z-index: 10;
}

.form-edit-post{
    padding: 10px;
    position: absolute;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 550px;
    height: 250px;
    top: 20vw;
    left: 33vw;
    border: 3px solid #0D5C63;
    border-radius: 20px ;
}

.box-edit-text{
    height: 5px;
    width: 1100px;
    left: 15vw;
    background-color: #78CDD7;
    position: absolute;
    top: 157px;
    border-radius: 2px;
    z-index: 0;

}


.btn-cancel-edit{
    position: absolute;
    bottom: -2px;
    left: -2px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    width: 100px;
    height: 30px;
    border: 3px solid #0D5C63;
    border-radius: 0px 20px 0 20px;
    color: #78CDD7;
}

.btn-cancel-edit:hover{
    position: absolute;
    bottom: -3px;
    left: -3px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    width: 100px;
    height: 30px;
    border-radius: 0px 20px 0 20px;
    color: #FFFFFA;
    background-color: #0D5C63;
}

.btn-delete-post{
    position: absolute;
    bottom: -3px;
    left: 40%;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    width: 100px;
    height: 30px;
    border: 3px solid #0D5C63;
    border-radius: 20px 20px 0 0px;
    color: #78CDD7;
}

.btn-delete-post:hover{
    position: absolute;
    bottom: -3px;
    left: 40%;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    width: 100px;
    height: 30px;
    border-radius: 20px 20px 0 0;
    color: #FFFFFA;
    background-color: #0D5C63;
}

.btn-save-post{
    position: absolute;
    bottom: -3px;
    right: -3px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    width: 100px;
    height: 30px;
    border: 3px solid #0D5C63;
    border-radius: 20px 0px 0 0px;
    color: #78CDD7;
}

.btn-save-post:hover{
    position: absolute;
    bottom: -3px;
    right: -3px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    width: 100px;
    height: 30px;
    border-radius: 20px 0px 0 0px;
    color: #fff;
    background-color: #0D5C63;
}



/* WEB WEB WEB WEB WEB */

.container-title-web{
    display: flex;
    align-items: center;
    flex-flow: column;
}

.container-title-web h1{
    font-style: bolder;
    z-index: 10;
    font-size: 60px;
    font-family: 'Prompt';
    color: #0D5C63;
}

.container-title-web div{
    height: 5px;
    width: 1100px;
    background-color: #78CDD7;
    position: relative;
    top: -49px;
}

.title-web-one{
    padding: 50px;
    font-family: 'Roboto';
    font-size: 40px;
    color: #0D5C63;
    font-style: bold;
}

.title-web-two{
    margin-left: 100px;
    font-size: 30px;
    color: #0D5C63;
}

.container-web-one{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-web-one div{
    border-radius: 10px;
    box-shadow: 5px 5px 15px grey;
    border: 3px solid #0D5C63;
    width: 500px;
    height: 500px;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 25px;
}

.container-web-one h1{
    padding: 15px;
}

.container-web-one p{
    padding: 10px;
    font-size: 20px;
}

.container-web-one img{
    padding: 20px;
    
}

.form-quizz{
    padding: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    border: 3px solid #0D5C63;
    border-radius: 20px ;
}

.form-quizz p{
    font-size: 30px;
    font-style: bold;
    color: #0D5C63;
}

#fname{
    width: 300px;
    height: 30px;
    padding: 10px;
}

#sname{
    width: 300px;
    height: 30px;
    padding: 10px;
}

.btn-submit-quizz{
    margin-top: 20px;
    width: 300px;
    height: 30px;
    position: relative;
    text-decoration: none;
    text-align: center;
    border: 3px solid #0D5C63;
    border-radius: 20px;
    color: #78CDD7;

}

.btn-submit-quizz:hover{
    border: 3px solid #78CDD7;
    border-radius: 20px;
    color: white;
    background-color: #0D5C63;
}
