@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    padding: 0px; 
    margin: 0px;
    box-sizing:border-box;
    font-family: 'Ubuntu', sans-serif;
}


  /* LAYOUT */
header {
    height: 10vh; 
    background: #0D5C63;
    color: white;
    top: 0;  
    display:flex;
    justify-content: space-between;  
    align-items: center;
}

header div {
    font-size: 2em;
    font-weight: bolder;  
    padding: 1em;
}
  
header nav {
    display:flex;
    justify-content: flex-end;  
}
  
  
nav a {
    margin-right: 20px;
    padding: 0 1em;
    text-decoration: none;
    font-size: 1.25em;
    color: white;
}

nav a:hover{
    color: #78CDD7;
}
  
  
main {
    height: 85vh;
    background-color:#FFFFFA;
}
  
footer {
    height:5vw;
    display:flex;
    justify-content: flex-end;
    padding: 0 2vw;
    align-items: center;
}

/* HOME */

.img-home{
    background: url("../images/image.png");
    height: 90vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
    background-size: cover;

    background-position: center;
    background-repeat: no-repeat;
}

.img-home h1{
    color: #0D5C63;
    font-size: 75px;
    margin-right: 100px;
}

.img-home p{
    color: grey;
    font-size: 50px;
    margin-right: 100px;
    
}

.separator-home-one{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.separator-home-one h2{
    color: #0D5C63;
    font-size: 75px;
    margin-right: 40px;
    
}

.middle-section-home{
    background: url('../images/lisbon.png');
    min-height: 80vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
}

.middle-section-home h2{
    color: white;
    font-size: 50px;
}

.middle-section-home i{
    color: white;
    font-size: 50px;
}

.home-info{
    margin-top: 30px;
    margin-left: 30px;
    display: flex;

}

.home-info img{
    border-radius: 20px;
}

.home-info div{
    margin-left: 40px;
    margin-right: 40px;
}

.home-info div h1{
    padding: 40px;
    color: #0D5C63;
    text-align: center;
    font-size: 30px;
}

.home-info div p{
    padding: 40px;
    color: grey;
    text-align: center;
    font-size: 20px;
}

.img-tkd-one{
    width: 300px;
    height: 449px;
    position: relative;
    top: 450px;
    right: 500px
}

.space-home-two{
    height: 10vh;
}

/* About me */
.title1 h1{
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: #0D5C63;
    z-index: 10;
    padding: 50px;
}



.container-cadeira{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.container-cadeira div{
    position: relative;
    width: 300px;
    height: 650px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px grey;
    border: 3px solid #0D5C63;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.linked_prof{
    position:absolute;
    top: 135px;
    right: 75px;
    border: none;
    background: none;
    width: 100px;
    height: 50px;
}


.lusofona_prof{
    position:absolute;
    top: 135px;
    left: -20px;
    border: none;
    background: none;
    width: 100px;
    height: 50px;
}

.container-cadeira div p{
    position: absolute;
    top: 180px;
}

.lusofona_cadeira{
    position: absolute;
    bottom: 10px;
    border: none;
    background: none;
}

.lusofona_cadeira a{
    width: 270px;
    height: 25px;
    text-decoration: none;
    color: grey;

}

.container-cadeira div div h4{
    position: absolute;
    top: 150px;
    left: 45px;
}

.title-education h1{
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: #0D5C63;
    padding: 100px;  
}

.container-education div{
    margin-left: 150px;
    margin-top: 150px;
}

.container-education div h1{
    color: #0D5C63;
}

.container-education p{
    color: grey;
}

.container-education a{
    color: grey;
}

.side-bar-education{
    background-color: #0D5C63;
    width: 3px;
    height: 700px;
    position: absolute;
    left: 100px;
}

.circle-education{
    background-color: #0D5C63;
    border-radius: 20px;
    width: 15px;
    height: 15px;
    position: relative;
    right: 206px;
    top: 20px;
}


.side-bar-certificados{
    background-color: #0D5C63;
    width: 3px;
    height: 650px;
    position: absolute;
    left: 100px;
}


.container-certificados div{
    margin-left: 150px;
    margin-top: 100px;
}

.container-certificados div h1{
    color: #0D5C63;
}

.circle-certificados{
    background-color: #0D5C63;
    border-radius: 20px;
    width: 15px;
    height: 15px;
    position: relative;
    right: 206px;
    top: 20px;
}


.title-certificados h1{
    position: relative;
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: #0D5C63;
    padding: 100px;
}

.box-certificados{
    width: 3px;
    height: 450px;
    background-color: #0D5C63;
    position: relative;
    left: 50px;
}


.title-aptidoes h1{
    position: relative;
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: #0D5C63;
    padding: 100px;
}

.title-aptidoes h2{
    color: #0D5C63;
    display: flex;
    justify-content: center;
}

.container-aptidoes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-aptidoes div{
    margin: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px grey;
    border: 3px solid #0D5C63;
    width: 350px;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.container-aptidoes h1{
    color: #0D5C63;
    padding: 10px;
}

.container-aptidoes p{
    color: grey;
    padding: 10px;
}

.title-hobbies{
    position: relative;
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: #0D5C63;
    z-index: 10;
}

.container-hobbies{
    padding: 50px;
    display: flex;
}

.container-hobbies div{
    margin: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px grey;
    border: 3px solid #0D5C63;
    width: 800px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.container-hobbies h1{
    margin-left: 15px;
}

.container-hobbies p{
    margin: 15px;
    font-size: 30px;
}

/* PROJETOS */


.title-projetos h1{
    position: relative;
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: #0D5C63;
    z-index: 10;
    padding: 20px;
}

.container-projetos{
    padding: 50px;
    display: flex;
    flex-flow: row wrap;
}

.container-projetos div{
    margin: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px grey;
    border: 3px solid #0D5C63;
    width: 500px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.container-projetos h3,h4,img{
    padding: 10px;
}

.container-projetos h1{
    color: #0D5C63;
}

.container-projetos p{
    color: grey;
    padding: 10px;
}

.media-proj{
    padding: 20px;
    margin-left: 490px;
    margin-top: 30px;
    text-decoration: none;
    color: grey;
}

.btn-login{
    width: 100px;
    height: 100px;
}

.container-projetos-final{
    padding: 50px;
    display: flex;
    flex-flow: row wrap;
}

.container-projetos-final div{
    margin: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px grey;
    border: 3px solid #0D5C63;
    width: 500px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.container-projetos-final h3,h4,img{
    padding: 10px;
}

.container-projetos-final h1{
    color: #0D5C63;
}

.container-projetos-final p{
    color: grey;
    padding: 10px;
}







/* BLOG POSTS BLOG POSTS BLOG POSTS BLOG POSTS BLOG POSTS BLOG POSTS BLOG POSTS BLOG POSTS BLOG POSTS BLOG POSTS BLOG POSTS BLOG POSTS BLOG POSTS BLOG POSTS BLOG POSTS BLOG POSTS BLOG POSTS  */
.container_blog{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.container_blog h1{
    font-style: bolder;
    z-index: 10;
    font-size: 60px;
    font-family: 'Prompt';
    color: #0D5C63;
}

.container_blog p{
    font-style: italic;
    font-family: 'Robot Mono';
}

.btn-new-post{
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    position: absolute;
    top: 300px;
    left: 30px;
    width: 175px;
    height: 35px;
    border: 3px solid #0D5C63;
    border-radius: 20px;
    color: #78CDD7;
}

.btn-new-post:hover{
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    position: absolute;
    top: 300px;
    left: 30px;
    width: 175px;
    height: 35px;
    border: 3px solid #78CDD7;
    border-radius: 20px;
    color: white;
    background-color: #0D5C63;
}

.container_posts{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.container_posts div{
    position: relative;
    top: 100px;
    width: 100vmax;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px grey;
    border: 3px solid #0D5C63;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.container_posts div h3{
    font-size: 40px;
    position: absolute;
    top: 10px;
    left: 30px;
    
}

.container_posts div h5{
    font-size: 15px;
    position: absolute;
    top: 60px;
    left: 35px;
    color: grey;
}

.container_posts div h6{
    font-size: 15px;
    position: absolute;
    bottom: 10px;
    right: 30px;
    color: grey;
}

.container_posts div p{
    font-size: 15px;
    position: absolute;
    top: 90px;
    left: 40px;
}

.btn-edit-post{
    position: absolute;
    bottom: -2px;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    width: 175px;
    height: 35px;
    border: 3px solid #0D5C63;
    border-radius: 20px 20px 0 0;
    color: #78CDD7;
    z-index: 10;
}

.btn-edit-post:hover{
    position: absolute;
    bottom: -2px;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    width: 175px;
    height: 35px;
    border: 3px solid #78CDD7;
    background-color: #0D5C63;
    color: #FFFFFA;
    border-radius: 20px 20px 0 0;
    z-index: 10;
}

.edit-post-text{
    position: absolute;
    left: 45vw;
    font-family: 'Prompt';
    text-align: center;
    font-size: 30px;
    color: #0D5C63;
    z-index: 10;
}

.form-edit-post{
    padding: 10px;
    position: absolute;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 550px;
    height: 250px;
    top: 20vw;
    left: 33vw;
    border: 3px solid #0D5C63;
    border-radius: 20px ;
}

.box-edit-text{
    height: 5px;
    width: 1100px;
    left: 15vw;
    background-color: #78CDD7;
    position: absolute;
    top: 157px;
    border-radius: 2px;
    z-index: 0;

}


.btn-cancel-edit{
    position: absolute;
    bottom: -2px;
    left: -2px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    width: 100px;
    height: 30px;
    border: 3px solid #0D5C63;
    border-radius: 0px 20px 0 20px;
    color: #78CDD7;
}

.btn-cancel-edit:hover{
    position: absolute;
    bottom: -3px;
    left: -3px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    width: 100px;
    height: 30px;
    border-radius: 0px 20px 0 20px;
    color: #FFFFFA;
    background-color: #0D5C63;
}

.btn-delete-post{
    position: absolute;
    bottom: -3px;
    left: 40%;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    width: 100px;
    height: 30px;
    border: 3px solid #0D5C63;
    border-radius: 20px 20px 0 0px;
    color: #78CDD7;
}

.btn-delete-post:hover{
    position: absolute;
    bottom: -3px;
    left: 40%;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    width: 100px;
    height: 30px;
    border-radius: 20px 20px 0 0;
    color: #FFFFFA;
    background-color: #0D5C63;
}

.btn-save-post{
    position: absolute;
    bottom: -3px;
    right: -3px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    width: 100px;
    height: 30px;
    border: 3px solid #0D5C63;
    border-radius: 20px 0px 0 0px;
    color: #78CDD7;
}

.btn-save-post:hover{
    position: absolute;
    bottom: -3px;
    right: -3px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    width: 100px;
    height: 30px;
    border-radius: 20px 0px 0 0px;
    color: #fff;
    background-color: #0D5C63;
}



/* WEB WEB WEB WEB WEB */

.img-quizz{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px;
    height: 100vh;
}
    

.container-title-web{
    display: flex;
    align-items: center;
    flex-flow: column;
}

.container-title-web h1{
    font-style: bolder;
    z-index: 10;
    font-size: 60px;
    font-family: 'Prompt';
    color: #0D5C63;
}

.container-title-web div{
    height: 5px;
    width: 1100px;
    background-color: #78CDD7;
    position: relative;
    top: -49px;
}

.title-web{
    display: flex;
    justify-content: center;
    padding: 50px;
    color: #0D5C63;
}

.container-tecnologias{
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
}

.container-tecnologias div{
    margin: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px grey;
    border: 3px solid #0D5C63;
    width: 400px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.container-tecnologias h1{
    color: #0D5C63;
    padding: 70px;
}

.container-tecnologias a{
   color: grey;
   text-decoration: none;
}

.container-noticias{
    display: flex;
    padding: 30px;
    flex-flow: row wrap;
}

.container-noticias div{
    margin: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px grey;
    border: 3px solid #0D5C63;
    width: 400px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.container-noticias h1{
    color: #0D5C63;
}

.container-noticias img{
    padding: 20px;
}

.container-sites{
    display: flex;
    padding: 30px;
    flex-flow: row wrap;
}

.container-sites div{
    margin: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px grey;
    border: 3px solid #0D5C63;
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.container-sites h1{
    color: #0D5C63;
}

.container-sites a{
    color: grey;
    text-decoration: none;
 }


.container-labs{
    display: flex;
    flex-flow: row wrap;
    padding: 30px;
}

.container-labs div{
    margin: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px grey;
    border: 3px solid #0D5C63;
    width: 600px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    transition: background 0.5s;
}

.container-labs div:hover{
    background-color: #78CDD7;  
}

.container-labs h1{
    color: #0D5C63;
}

.container-labs a{
    color: grey;
    text-decoration: none;
    font-size: 25px;
 }


.form-quizz{
    padding: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    border: 3px solid #0D5C63;
    border-radius: 20px ;
}

.form-quizz p{
    font-size: 30px;
    font-style: bold;
    color: #0D5C63;
}

#fname{
    width: 300px;
    height: 30px;
    padding: 10px;
}

#sname{
    width: 300px;
    height: 30px;
    padding: 10px;
}

.btn-submit-quizz{
    margin-top: 20px;
    width: 300px;
    height: 30px;
    position: relative;
    text-decoration: none;
    text-align: center;
    border: 3px solid #0D5C63;
    border-radius: 20px;
    color: #78CDD7;

}

.btn-submit-quizz:hover{
    border: 3px solid #78CDD7;
    border-radius: 20px;
    color: white;
    background-color: #0D5C63;
}

.weather-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('https://source.unsplash.com/1600x900/?landscape');
    background-size: cover;
    font-size: 150%;
}

.card{
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 20px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
    font-family: 'Open Sans';
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}


.search button{
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 40px;
    width: 50px;
    outline: none;
    background-color: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.search button:hover{
    background-color: #7c7c7c6b;
}

.search input{
     border: none;
     outline: none;
     padding: 0.5em 1em;
     border-radius: 24px;
     background-color: #7c7c7c2b;
     color: white;
     font-family: inherit;
     font-size: 125%;
     width: calc(100% - 80px);

}

.weather-desc{
    text-transform: capitalize;
    margin-left: 8px;
}

.flex{
    display: flex;
    align-items: center;

}
  
.clock{
    background-color: black;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-container{
    font-family: Arial, Helvetica, sans-serif ;
    color: white;
    font-weight: bold;
    font-size: 70px;
    
    
}



/* CONTACTO */
.container-contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.container-contacto h1{
    font-style: bolder;
    z-index: 10;
    font-size: 60px;
    font-family: 'Prompt';
    color: #0D5C63;
    padding: 20px;
}

.container-contacto h3{
    padding: 40px;
    color: grey;
}

.contact-linkedin{
    width: 50px;
    height: 50px;
    background:url('../images/linkedin.png');
}

.contact-email{
    width: 50px;
    height: 50px;
    background:url('../images/email.png');
}